li{
    list-style-type: none;
    font-size: 20px;
    
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 7px;
    // background-color: #f5f5f5;
    transition: 0.3s;
}

a{
    text-decoration: none;
    color: black;
}