<h2 class="fw-bold">Finance Manager</h2>
<ul>
  <li> <a href="" routerLink="/dashboard" routerLinkActive="active-link" >Tableau de bord</a></li>
  <li> <a href="" routerLink="/expenses" routerLinkActive="active-link">Dépenses</a> </li>
  <li> <a href="" routerLink="/income" routerLinkActive="active-link">Revenus</a></li>
  <li> <a href="" routerLink="/transactions" routerLinkActive="active-link">Transactions</a></li>
  <li> <a href="" routerLink="/budgets" routerLinkActive="active-link">Budgets</a></li>
  <li> <a href="" routerLink="/reports" routerLinkActive="active-link">Rapports</a></li>
  <li> <a href="" routerLink="/sharing" routerLinkActive="active-link">Partage</a></li>
  <li> <a href="" routerLink="/settings" routerLinkActive="active-link">Paramètres</a></li>
</ul>