
<nav class="navbar navbar-light bg-light justify-content-between" style="padding: 15px;">
    <a class="navbar-brand">Tableau de bord</a>
    <form class="form-inline d-flex justify-content-center" >
      <input class="form-control mr-sm-2" style="height: 30px;" type="search" placeholder="Search" aria-label="Search">
      <div>
        <i class="fa-regular fa-bell ms-2 my-2"></i>
      </div>
      <div>
        <i class="fa-solid fa-circle-user ms-2 my-2"></i>
      </div>
    </form>
  </nav>
