<!-- <div class="row">
  <div class="col-sm-4 mb-6 "style="width: 50%; height: 15%;">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-10">
            <h5 class="card-title mb-6 fs-6 fw-lighter">Solde total</h5>
            <p class="fs-5 fw-bold">€8,540.00</p>
          </div>
          <div class="col-2">
            <div class="container">p</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-6" style="width: 50%; height: 15%">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title mb-10 fs-6 fw-lighter">Solde total</h5>
            <p class="fs-5 fw-bold">€8,540.00</p>
          </div>
          <div class="col-2 div2">
            <div class="container">p</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-6 "style="width: 50%; height: 15%;">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-10">
            <h5 class="card-title mb-6 fs-6 fw-lighter">Solde total</h5>
            <p class="fs-5 fw-bold">€8,540.00</p>
          </div>
          <div class="col-2 div2">
            <div class="container">p</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<div class="d-flex justify-content-between" style="margin-left: -300px;">
  <div class="col-sm-6">
    <div class="card" style=" height: 5rem;">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h5 class="card-title mb-6 fs-6 fw-lighter">Solde total</h5>
          <p class="fs-5 fw-bold">€8,540.00</p>
        </div>
        <div>
          <p>icon</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6" >
    <div class="card ms-3" style=" height: 5rem;">
      <div class="card-body d-flex justify-content-between" >
        <div>
          <h5 class="card-title mb-6 fs-6 fw-lighter">Solde total</h5>
          <p class="fs-5 fw-bold">€8,540.00</p>
        </div>
        <div>
          <p>icon</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card ms-3" style=" height: 5rem;">
      <div class="card-body d-flex justify-content-between">
        <div>
          <h5 class="card-title mb-6 fs-6 fw-lighter">Solde total</h5>
          <p class="fs-5 fw-bold">€8,540.00</p>
        </div>
        <div>
          <p>icon</p>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="container bg-light">
  <div class="item">
    <div>
      <h5 class="card-title mb-6 fs-6 fw-lighter">Solde total</h5>
      <p class="fs-5 fw-bold mt-3">€8,540.00</p>
    </div>
    <div>
      <p>icon</p>
    </div>
  </div>
  <div class="item">
    <div>
      <h5 class="card-title mb-6 fs-6 fw-lighter">Depenses du mois</h5>
      <p class="fs-5 fw-bold mt-3">€8,540.00</p>
    </div>
    <div>
      <p>icon</p>
    </div>
  </div>
  <div class="item">
    <div>
      <h5 class="card-title mb-6 fs-6 fw-lighter">Budget restant</h5>
      <p class="fs-5 fw-bold mt-3">€8,540.00</p>
    </div>
    <div>
      <p>icon</p>
    </div>
  </div>
</div>


<div class="chart">
  <div
  echarts
  id="myChart"
  [options]="chartOptions"
  class="bg-light mt-3 minChart"
  
></div>
  <div
    class="bg-light mt-3 minChart p-3"
    
  >
    <div class="d-flex justify-content-between">
      
      <h5>Categories principales</h5>
      <p>icon</p>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <p>Loyer</p>
        <span>$1200</span>
      </div>
      <p>percent</p>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <p>Nourriture</p>
        <span>$500</span>
      </div>
      <p>percent</p>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <p>Tranport</p>
        <span>$300</span>
      </div>
      <p>percent</p>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <h5>Loisirs</h5>
        <p>$200</p>
      </div>
      <p>percent</p>
    </div>
  </div>
 
</div>
